@{
    ViewData["Title"] = "Login";
}
<div class="login">
    <h1 class="login-titulo">Login</h1>
    <form class="login-formulario" action="/login" method="post">
        <label for="email" class="login-label">Email:</label>
        <input type="email" id="email" name="email" class="login-input" required><br>

        <label for="senha" class="login-label">Senha:</label>
        <input type="password" id="senha" name="senha" class="login-input" required><br>

        <input type="checkbox" id="lembrar" name="lembrar" class="login-checkbox">
        <label for="lembrar" class="login-lembrar">Lembrar-me</label><br>

        <a href="/esqueci-senha" class="login-esqueci">Esqueci minha senha</a><br>

        <input type="submit" value="Entrar" class="login-botao">
    </form>
</div>
