@{
    ViewData["Title"] = "Adulto";
}

<div class="section">
    <div class="titulo">Produtos de Higiene</div>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="#sabonetes" class="link">Sabonetes</a></li>
            <li class="li"><a href="#shampoos" class="link">Shampoos</a></li>
            <li class="li"><a href="#pastas" class="link">Pastas de Dente</a></li>
            <li class="li"><a href="#desodorantes" class="link">Desodorantes</a></li>
            <li class="li"><a href="#absorventes" class="link">Toalhas</a></li>
            <li class="li"><a href="#outros" class="link">Outros</a></li>
        </ul>
    </nav>

    <section id="sabonetes" class="categoria">
        <h2 class="titulo-categoria">Sabonetes</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\sabonete.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="shampoos" class="categoria">
        <h2 class="titulo-categoria">Shampoos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\shampoo.jpg" class="imagem-post" />
            </div>
        </div>
    </section>

    <section id="pastas" class="categoria">
        <h2 class="titulo-categoria">Shampoos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\shampoo.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="desodorantes" class="categoria">
        <h2 class="titulo-categoria">Shampoos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\shampoo.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="absorventes" class="categoria">
        <h2 class="titulo-categoria">Shampoos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\shampoo.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="outros" class="categoria">
        <h2 class="titulo-categoria">Shampoos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\shampoo.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
</div>
