@{
    ViewData["Title"] = "Sobre";
}
<main class="sobre">
    <section class="about">
        <h2 class="about-title">Sobre Nossa Empresa</h2>
        <p class="about-paragraph">Somos uma empresa apaixonada por fazer a diferença. Fundada em [ano de fundação], nossa jornada começou com a simples ideia de compartilhar calor humano através da doação de roupas. Ao longo dos anos, evoluímos para uma força impulsionadora na ajuda àqueles que mais precisam.</p>
        <p class="about-paragraph">Acreditamos que cada doação não é apenas uma peça de roupa, mas sim um símbolo de esperança e solidariedade. Trabalhamos incansavelmente para tornar o mundo um lugar mais acolhedor e inclusivo para todos, independentemente das circunstâncias.</p>
        <p class="about-paragraph">Com o apoio generoso de nossos doadores e a dedicação incansável de nossa equipe, continuamos a expandir nossa missão de fornecer roupas de qualidade para aqueles que não têm acesso a elas, garantindo dignidade e conforto para todos.</p>
    </section>

    <section class="values">
        <h2 class="values-title">Nossos Valores</h2>
        <ul class="values-list">
            <li class="values-item"><strong>Compromisso com a Solidariedade:</strong> Estamos comprometidos em estender a mão para aqueles que precisam, mostrando que eles não estão sozinhos em sua jornada.</li>
            <li class="values-item"><strong>Respeito pela Dignidade Humana:</strong> Reconhecemos e valorizamos a dignidade e a singularidade de cada indivíduo, independentemente de sua situação.</li>
            <li class="values-item"><strong>Sustentabilidade e Responsabilidade Social:</strong> Operamos de forma sustentável e nos esforçamos para ter um impacto positivo não apenas nas vidas das pessoas, mas também no meio ambiente.</li>
            <li class="values-item"><strong>Transparência e Integridade:</strong> Mantemos altos padrões de transparência em todas as nossas operações e nos comprometemos com a integridade em cada interação.</li>
        </ul>
    </section>
</main>
