@{
    ViewData["Title"] = "Infatil";
}

<div class="section">
    <div class="titulo">Infantil</div>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="#camisas" class="link">Camisas</a></li>
            <li class="li"><a href="#saias" class="link">Saias</a></li>
            <li class="li"><a href="#shorts" class="link">Shorts</a></li>
            <li class="li"><a href="#calcas" class="link">Calças</a></li>
            <li class="li"><a href="#vestidos" class="link">Vestidos</a></li>
            <li class="li"><a href="#sapatos" class="link">Sapatos</a></li>
            <li class="li"><a href="#acessorios" class="link">Acessórios</a></li>
        </ul>
    </nav>

    <section id="camisas" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="saias" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="shorts" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="calcas" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="vestidos" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="sapatos" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
    <section id="acessorios" class="categoria">
        <h2 class="titulo-categoria">Camisas</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Post</h3>
                <p class="conteudo-post">Conteúdo do Post...</p>
                <img src="\imagensdoacao\pexels-ivan-samkov-7671168.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
</div>