@{
    ViewData["Title"] = "Adulto";
}
<div class="section">
    <div class="titulo">Produtos para a Casa</div>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="#moveis" class="link">Móveis</a></li>
            <li class="li"><a href="#eletrodomesticos" class="link">Eletrodomésticos</a></li>
            <li class="li"><a href="#utensilios" class="link">Utensílios</a></li>
            <li class="li"><a href="#decoracao" class="link">Decoração</a></li>
            <li class="li"><a href="#limpeza" class="link">Produtos de Limpeza</a></li>
        </ul>
    </nav>

    <section id="moveis" class="categoria">
        <h2 class="titulo-categoria">Móveis</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\moveis.jpg" class="imagem-post" />
            </div>
        </div>
    </section>

    <section id="eletrodomesticos" class="categoria">
        <h2 class="titulo-categoria">Eletrodomésticos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\eletrodomesticos.jpg" class="imagem-post" />
            </div>
        </div>
    </section>

    <section id="utensilios" class="categoria">
        <h2 class="titulo-categoria">Eletrodomésticos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\eletrodomesticos.jpg" class="imagem-post" />
            </div>
        </div>
    </section>

    <section id="decoracao" class="categoria">
        <h2 class="titulo-categoria">Eletrodomésticos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\eletrodomesticos.jpg" class="imagem-post" />
            </div>
        </div>
    </section>

    <section id="limpeza" class="categoria">
        <h2 class="titulo-categoria">Eletrodomésticos</h2>
        <div class="carousel">
            <div class="post">
                <h3 class="titulo-post">Título do Produto</h3>
                <p class="conteudo-post">Descrição do Produto...</p>
                <img src="\imagensdoacao\eletrodomesticos.jpg" class="imagem-post" />
            </div>
        </div>
    </section>
</div>
