@{
    ViewData["Title"] = "Home";
}

<div class="home">
    <div class="div-home-div">
        <section class="section-sobre">
            <div class="div-conteudo">
                <h2 class="h2-sobre">Sobre Nós</h2>
                <p class="p-sobre">Somos a Organização de Assistência Humanitária, uma instituição dedicada a fazer a diferença na vida das pessoas necessitadas ao redor do mundo. Fundada em [ano de fundação], nossa missão é proporcionar ajuda e apoio a comunidades em situações de vulnerabilidade, promovendo o bem-estar e a esperança.</p>

                <p class="p-sobre">Nossos programas abrangem uma ampla gama de necessidades, desde fornecimento de alimentos e roupas até assistência médica e educacional. Trabalhamos incansavelmente para garantir que cada indivíduo receba o suporte de que precisa para reconstruir suas vidas e alcançar um futuro mais promissor.</p>
            </div>
        </section>
        <section class="section-doacoes">
            <div class="div-conteudo">
                <h2 class="h2-doacoes">Como Você Pode Ajudar</h2>
                <p class="p-doacoes">Existem várias maneiras de apoiar nossa causa e fazer a diferença na vida de pessoas necessitadas:</p>
                <ul class="ul-doacoes">
                    <li class="li-doacoes">Faça uma Doação Financeira: Contribua com qualquer quantia para nos ajudar a continuar nossos projetos e programas de assistência.</li>
                    <li class="li-doacoes">Doação de Roupas e Artigos: Doe roupas, calçados e acessórios em bom estado para fornecer às pessoas em situação de vulnerabilidade.</li>
                    <li class="li-doacoes">Voluntariado: Junte-se a nós como voluntário e participe ativamente nas atividades e eventos que organizamos.</li>
                    <li class="li-doacoes">Compartilhe Nossa Causa: Ajude a espalhar a conscientização sobre nossa organização e as necessidades das pessoas que atendemos.</li>
                    <li class="li-doacoes">Participe de Campanhas: Fique de olho em nossas campanhas e eventos especiais, e participe para fazer a diferença.</li>
                </ul>
            </div>
        </section>
    </div>

    <section class="section-posts">
        <div class="div-conteudo-post">
            <h2 class="h2-posts">Últimas Publicações</h2>
            <div class="div-post">
                <h3 class="h3-post">Título da Publicação</h3>
                <p class="p-post">Conteúdo da publicação...</p>
                <img class="img-post" src="caminho/da/imagem.jpg" alt="Descrição da imagem">
            </div>
        </div>
    </section>

</div>
